/* Estilos para el Login-------------------------------------- */
.contraseña-container {
  position: relative;
  width: 100%;
  display: inline-block;
}

.contraseña-container .icon svg {
  position: absolute;
  top: 55%;
  right: 5px; /* Ajusta la posición del ícono */
  transform: translateY(-85%);
  cursor: pointer;

 
}
.gradient-custom {

  background: -webkit-linear-gradient(to right, #424446, #121416);
  
  
  background: linear-gradient(to right, #424446, #121416);
}

.card {
  background-color: #150916;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.card:hover {
  border-color: white;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
}